[Unit]
Description=nmtitov daemon
After=network.target

[Service]
User=nt
WorkingDirectory=/home/nt/nmtitov/
ExecStart=/home/nt/.env/nmtitov/bin/gunicorn -c /home/nt/nmtitov/gunicorn.conf.py website.wsgi:application

[Install]
WantedBy=multi-user.target
