appdirs==1.4.3
beautifulsoup4==4.7.1
blessings==1.7
bpython==0.18
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorclass==2.2.0
curtsies==0.3.0
Django==2.2.2
django-appconf==1.0.3
django-axes==5.0.6
django-ckeditor==5.7.1
django-extensions==2.1.9
django-ipware==2.1.0
django-js-asset==1.2.2
django-uuslug==1.1.8
docopt==0.6.2
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
mypy==0.701
mypy-extensions==0.4.1
olefile==0.46
packaging==19.0
Pillow==6.0.0
pip-autoremove==0.9.1
pip-upgrade==0.0.6
pip-upgrader==1.4.12
pipdate==0.3.2
pur==5.2.2
Pygments==2.4.2
pyparsing==2.4.0
python-slugify==3.0.2
pytz==2019.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
terminaltables==3.1.0
text-unidecode==1.2
typed-ast==1.4.0
typing==3.6.6
Unidecode==1.0.23
urllib3==1.25.3
wcwidth==0.1.7
