.branding > a {
    color: #FFFFFF;
    text-decoration: none;
}

.branding > a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.branding > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.branding > a > img {
    margin: -0.25rem 0.5rem 0 0.5rem;
}
