* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: background 0.1s ease;
    -webkit-transition: background 0.1s ease;
    -moz-transition: background 0.1s ease;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

body {
    background: #f9f9f3;
    color: #333;
    font: 400 10pt/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    /*font-weight: 700;*/
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 0;
}

p {
    margin: 1em 0;
}

a {
    color: #246;
}

a:hover {
    color: #f04;
    /*text-decoration none*/
}

a.active {
    text-decoration: none;
}

header {
    font-size: 1.5em;
}

header h1 {
    display: inline-block;
    vertical-align: top;
}

.logo {
    color: #246;
}

footer {
    font-size: 1.2em;
    background-color: #242628;
    color: #ffffff;
}

.wrapper {
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

#nav {
    background: #f04;
    color: #fff;
}

#nav a {
    color: inherit;
}

#linksSite,
#linksPromo {
    display: inline-block;
    margin: 0 2em 0 0;
}

#linksSite li,
#linksPromo li {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

#linksSite a,
#linksPromo a {
    display: block;
    padding: 0 0.6em 0 0;
}

#linksSite,
#linksPromo {
    /*font-weight: 600;*/
    font-size: 1.5em;
}

#linksSite .active {
    font-size: 2em;
    text-decoration: none;
}

#main {
    background: #fff;
    box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.1);
}

#main section {
    padding: 2em 0;
}

.intro {
    color: #999;
    display: inline-block;
    font-weight: 300;
    margin: 1em 1em 1em 0;
    vertical-align: top;
}

.intro:before {
    /*content '• • •';*/
    opacity: 0.2;
    margin: 0 1.5em 0 1em;
}

.intro li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.intro a {
    display: block;
    padding: 0.2em 0.4em 0.2em 0;
}

#sectionApps {
    background: #242628;
    color: #fff;
}

#sectionApps a {
    color: #f84;
}

#sectionApps a:hover {
    color: #f04;
}

.blocks {
    margin: 1em -15px;
}

.blocks:after {
    clear: both;
    content: '';
    display: block;
}

.blocks li {
    width: 33%;
    display: inline-block;
    float: left;
    height: 25em;
}

.blocks article figure {
}

.blocks article figure .img-wrapper {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    margin-bottom: 2em;
    /*position: relative;*/
}

.img-wrapper img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blocks article figcaption {
    text-align: center;
    vertical-align: bottom;
}

.blocks article figcaption h1 {
    font-size: 1.5em;
    margin-top: 1em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.aspect-fit {
    max-height: 100%;
    max-width: 100%;
}

.blocks article {
    border-radius: 2px;
    padding: 15px;
    position: relative;
}

/*.blocks article:hover {*/
/*background: #f04;*/
/*color: #fff;*/
/*}*/

.blocks article:hover figcaption h1 a {
    color: #f04;
    /*text-decoration: none;*/
}

/*.blocks article:hover a {*/
/*background-color: #ff0044;*/
/*color: #fff;*/
/*}*/

.blocks h1 {
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.blocks h1 a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

time {
    background: rgba(32, 32, 32, 0.05);
    border-radius: 0.5em;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    line-height: 1;
    padding: 0.3em 0.6em;
    whitespace: nowrap;
}

/*.blocks article:hover time {*/
/*color: #fff;*/
/*background: rgba(64, 64, 64, 0.05);*/
/*}*/

.block a {
    transition: background 0s;
    -webkit-transition: background 0s;
    -moz-transition: background 0s;
}

/*.blocks article:hover a {*/
/*color: #fff;*/
/*background: rgba(64, 64, 64, 0.05);*/
/*}*/

.category {
    background: #ffc;
    border-radius: 0.5em;
    color: #686860;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: 0.3em 0.6em;
    position: relative;
    /*text-decoration none*/
    whitespace: nowrap;
    z-index: 10;
}

@media (max-width: 1200px) {
    /*.wrapper {*/
        /*padding: 2em 1em;*/
    /*}*/

    /*.blocks {*/
        /*margin: 1em -1em;*/
    /*}*/

    .blocks li {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-right: 0;
    }

    .blocks {
        margin: 0em -2em;
    }

    .blocks li {
        width: 100%;
    }

    .blocks article {
        border-radius: 0;
        padding: 0 2em;
    }

    .intro {
        margin-left: 0;
    }

    .intro > li > a {
        margin-left: 0;
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    #linksSite li {
        display: block;
    }
}