{% extends "blog/application.html" %}

{% block title %}{{ section.verbose_title }}{% endblock %}

{% block content %}

    <section id="sectionBlog">
        <div class="wrapper">
            <header>
                <h1>{{ section.verbose_title }}</h1>
            </header>
            <div class="section-content">
                <ul id="list_posts" class="blocks">

                    {% for p in posts %}

                    <li>
                        <article>
                            <figure>
                                {% if p.thumbnail_image %}
                                    <div class="container">
                                        <img src="{{ p.thumbnail_image.url }}" >
                                    </div>
                                {% endif %}
                                <figcaption>
                                    <h1>{{ p.title_before_f }}<a href="{% url 'post' section=section.slug p=p.slug %}">{{ p.title }}</a>{{ p.title_after_f }}</h1>
                                </figcaption>
                            </figure>
                        </article>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}