{% extends "blog/application.html" %}

{% block title %}{{ post.verbose_title|title }}{% endblock %}
{% block content %}

    <section class="section_post">
        <div class="wrapper">
            <header>
                {% if post.preview %}
                    <h1>{{ post.verbose_title|title }} (Preview)</h1>
                {% else %}
                    <h1>{{ post.verbose_title|title }}</h1>
                {% endif %}
            </header>
            <article class="body">
                {{ post.compiled_body|safe }}
            </article>
            {% if post.side %}
                <aside class="side">
                    {{ post.side|safe }}
                </aside>
            {% endif %}
        </div>
        <div class="clear"/>
    </section>

{% endblock %}