{% extends "blog/application.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}

    <section id="sectionBlog">
        <div class="wrapper">
            <header>
                {% if post.preview %}
                    <h1>{{ post.title }} (Preview)</h1>
                {% else %}
                    <h1>{{ post.title }}</h1>
                {% endif %}
            </header>
            <div class="section-content">
                {{ post.body|safe }}
            </div>
        </div>
    </section>

{% endblock %}