{% extends "blog/application.html" %}

{% block title %}{{ section.verbose_title }}{% endblock %}

{% block content %}

    <section id="sectionBlog">
        <div class="wrapper">
            <header>
                <h1>{{ section.verbose_title }}</h1>
            </header>
            <div class="section-content">
                <ul id="list_posts" class="blocks">

                    {% for post in posts %}

                        <li>
                            <article>
                                <figure>
                                    {% if post.thumbnail_image %}
                                        <div class="container">
                                            <img src="{{ post.thumbnail_image.url }}" >
                                        </div>
                                    {% endif %}
                                    <figcaption>
                                        <h1>{{ post.title_before_f }}<a href="{% url section.detail_url_name slug=post.slug %}">{{ post.title }}</a>{{ post.title_after_f }}</h1>
                                    </figcaption>
                                </figure>
                            </article>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}