{% extends "public/application.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}

    <section class="section_post">
        <div class="wrapper">
            <header>
                <h1>{{ post.title }}</h1>
            </header>
            <article class="body">
                {{ post.content| safe }}
            </article>
{#            {% if post.side %}#}
{#                <aside class="side">#}
{#                    {{ post.side|safe }}#}
{#                </aside>#}
{#            {% endif %}#}
        </div>
        <div class="clear"/>
    </section>

{% endblock %}